h1 {
    font-family: 'Roboto', sans-serif;
}

.cantidadNotas{
    font-family: 'Roboto', sans-serif;
}

.cantidadAlumnos{
    font-family: 'Roboto', sans-serif;
}

#generarPlanilla{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
}
h2{
    font-family: 'Roboto', sans-serif;
}
.visible{
    display: block;
}
.invisible{
    display: none;
}